<h1>Listing slideshows</h1>

<table>
    <thead>
        <tr>
            <% Slideshow.indexHeaderArr.each do |header| %>
            <th><%= header.gsub('_',' ').capitalize %></th>
            <% end %>
            <% control_headers.each do |control| %>
            <th><%= control.capitalize %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @slideshows.each do |slideshow| %>
        <% valArr = slideshow.attributes %>
        <tr>
            <% Slideshow.indexHeaderArr.each do |hashKey| %>
            <td><%= valArr[hashKey] %></td>
            <% end %>
            <td><%= link_to 'Show', slideshow %></td>
            <td><%= link_to 'Edit', edit_slideshow_path(slideshow) %></td>
            <td><%= link_to 'Destroy', slideshow, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'New Slideshow', new_slideshow_path %>
